.popup-button {
  display: block;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  color: white;
  border-radius: 4px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background-image: linear-gradient(to right, #993FFF 0%, #7BFFA5 50%, #7BFFA5 100%);
  transition: 0.5s;
}
  .popup-button:hover {
    background-position: right center;
  }  